<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page de recharge</title>
    </head>
    <body>
        <h2>Rechargez votre compte</h2>
        <form>
            <input type="number" id="cardId" placeholder="l'ID de la carte a recharger...">
            <input type="number" id="amount" placeholder="le montant a recharger...">
            <button type="button" id="rechargeBtn">Recharger</button>
        </form>
        <script type="module" src="/src/Controller/recharger.js"></script>
    </body>
</html>
